<div id="page">
  [% IF session.nickname %]
  <div id="start">
    <p>Hi [% session.nickname %] </p>
    <div id="dashboard">
      <div id="users">
      </div>
      <div id="chat">
      </div>
    </div>
  <div>
</div> 
[% ELSE %]
<div id="chat">
<form method="post">
<label>Nick</label>
<input type="text" name="nickname" value="" required/>
<input type="submit" value="Start" />
</form>
</div>
[% END %]
<script type="text/babel" src="[% request.uri_base %]/javascripts/init.jsx"></script>
